{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Course Registration | {% endblock title %}</title>
    <base href="/">
    <!--Stylesheets-->
    <link rel="stylesheet" href="{% static 'Registration/stylesheets/bootstrap.css' %}">
    {% block stylesheets %}{% endblock stylesheets %}
    <!--end-->
    <!--Third Party Libraries-->
    <script src="{% static 'Registration/js/jquery-2.2.3.js' %}" charset="utf-8"></script>
    <script src="{% static 'Registration/js/bootstrap.js' %}" charset="utf-8"></script>
    {% block thirdPartyLibraries %} {% endblock thirdPartyLibraries %}
    <!--end-->
    <script src="{% static 'Registration/javascripts/angular.js' %}"></script>
    <!--Angular libraries-->
    {% block ngLibraries %} {% endblock ngLibraries %}
    <!--end-->
    <script src="{% static 'Registration/javascripts/app.js' %}"></script>
    <!--Factories/Services-->
    {% block services %} {% endblock services %}
    <!--end-->
    <!--Controllers-->
    {% block controllers %} {% endblock controllers %}
    <!--end-->
    <!--Directives-->
    {% block directives %} {% endblock directives %}
    <!--end-->
</head>
{% block body %} {% endblock body %}
</html>
