{% extends 'Registration/base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% block title %}
{{ block.super }} Main Page
{% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'Registration/stylesheets/mainPage.css' %}">
{% endblock stylesheets %}
{% block services %}
<script src="{% static 'Registration/javascripts/services/StudentFactory.js' %}"></script>
{% endblock services %}
{% block controllers %}
<script src="{% static 'Registration/javascripts/controllers/MainController.js' %}"></script>
{% endblock controllers %}

{% block body %}
<body ng-app="CourseRegistrationApp" ng-controller="MainController">
    <div class="headerContainer">
        <div class="infoHeader">
            <div class="col-md-4 col-md-offset-1">
                <div class="nameContainer">
                    <label>Name :</label>
                    <label>{{ student|valuefor:"name" }} {{ student|valuefor:"surname" }}</label>
                </div>
                <div class="facultyContainer">
                    <label>Faculty :</label>
                    <label>{{ student|valuefor:"faculty"|valuefor:"name" }}</label>
                </div>
                <div class="classContainer">
                    <label>Class :</label>
                    <label>{{ student|valuefor:"class_no" }}</label>
                </div>
                <div class="AdvisorContainer">
                    <label>Advisor :</label>
                    <label>{{ student|valuefor:"advisor"|valuefor:"Name" }}</label>
                </div>
            </div>
            <div class="col-md-3">
                <label class="universityName1">Sanfancisco</label>
                <label class="universityName2">University</label>
            </div>
            <div class="col-md-4">
                <div class="studentNoContainer">
                    <label>Student No :</label>
                    <label>{{ student|valuefor:"studentNo" }}</label>
                </div>
                <div class="departmentContainer">
                    <label>Department :</label>
                    <label>{{ student|valuefor:"department"|valuefor:"name" }}</label>
                </div>
                <div class="cumulativeContainer">
                    <label>Cumulative :</label>
                    <label>{{ student|valuefor:"transcript"|valuefor:"cumulative" }}</label>
                </div>
            </div>
        </div>
        <div class="navbarContainer">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Main Page</a></li>
                            <li><a href="/courseregistration">Course Registration</a></li>
                            <li><a href="/pinfo">Personal Information</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="bodyContainer">
        <ul>
            <li class="bodyListContainer"><label class="bodyLabel">Course Registration</label> page available only at the dates of corse registration.</li>
        </ul>
    </div>
</body>
{% endblock body %}
