{% extends 'Registration/base.html' %}
{% load staticfiles %}
{% load app_filters %}

{% block title %}
{{ block.super }} Registration
{% endblock title%}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'Registration/stylesheets/registration.css' %}" charset="utf-8">
{% endblock stylesheets %}

{% block services %}
<script src="{% static 'Registration/javascripts/services/SocketService.js' %}" charset="utf-8"></script>
<script src="{% static 'Registration/javascripts/services/CourseFactory.js' %}" charset="utf-8"></script>
<script src="{% static 'Registration/javascripts/services/RegistrationFactory.js' %}" charset="utf-8"></script>

{% endblock services %}

{% block controllers %}
<script src="{% static 'Registration/javascripts/controllers/RegistrationController.js' %}" charset="utf-8"></script>
{% endblock controllers %}

{% block body %}
<body ng-app="CourseRegistrationApp" ng-controller="RegistrationController as ctrl" >
  <div class="headerContainer">
      <div class="infoHeader">
          <div class="col-md-4 col-md-offset-1">
              <div class="nameContainer">
                  <label>Name :</label>
                  <label>{{ student|valuefor:"name" }} {{ student|valuefor:"surname"|upper }}</label>
              </div>
              <div class="facultyContainer">
                  <label>Faculty :</label>
                  <label>{{ student|valuefor:"faculty"|valuefor:"name" }}</label>
              </div>
              <div class="classContainer">
                  <label>Class :</label>
                  <label>{{ student|valuefor:"class_no" }}</label>
              </div>
              <div class="AdvisorContainer">
                  <label>Advisor :</label>
                  <label>{{ student|valuefor:"advisor"|valuefor:"Name" }}</label>
              </div>
          </div>
          <div class="col-md-3">
              <label class="universityName1">Sanfancisco</label>
              <label class="universityName2">University</label>
          </div>
          <div class="col-md-4">
              <div class="studentNoContainer">
                  <label>Student No :</label>
                  <label>{{ student|valuefor:"studentNo" }}</label>
              </div>
              <div class="departmentContainer">
                  <label>Department :</label>
                  <label>{{ student|valuefor:"department"|valuefor:"name" }}</label>
              </div>
              <div class="cumulativeContainer">
                  <label>Cumulative :</label>
                  <label>{{ student|valuefor:"transcript"|valuefor:"cumulative" }}</label>
              </div>
          </div>
      </div>
      <div class="navbarContainer">
          <nav class="navbar">
              <div class="container-fluid">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                          <li><a href="/">Main Page</a></li>
                          <li class="active"><a href="#">Course Registration</a></li>
                          <li><a href="/pinfo">Personal Information</a></li>
                      </ul>
                  </div><!--/.nav-collapse -->
              </div><!--/.container-fluid -->
          </nav>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <form class="form-horizontal col-sm-offset-2 col-sm-8 courseContainer">
        <div class="form-group" ng-repeat="">
          <label for="course-1" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-7">
            <select id = "course-1" class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label>
              <input type="checkbox" id="cbCourse-1" value="option1" aria-label="...">
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="course-2" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-7">
            <select id = "course-2" class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label>
              <input type="checkbox" id="cbCourse-2" value="option1" aria-label="...">
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="course-3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-7">
            <select id = "course-3" class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label>
              <input type="checkbox" id="cbCourse-3" value="option1" aria-label="...">
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
          </div>
        </div>
      </form>

  </div>
</body>
{% endblock body %}
